# Database
DATABASE_URL=postgresql://cinescopeuser:cinescopepass@postgres:5432/cinescope
REDIS_URL=redis://redis:6379

# JWT
SECRET_KEY=dd6e3aafe281d25c1face8e1b5054a87c3628d79653e35e3f91ba649b3b6ae35
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# TMDB
TMDB_API_KEY=86823759ed8091b2988d8a1de7d9b17e
TMDB_BASE_URL=https://api.themoviedb.org/3

# CORS
ALLOWED_ORIGINS=http://localhost:3000

RESEND_API_KEY=re_CQ8KWsrx_PSDMKnK8yJrHKimna6zaZByK
EMAIL_FROM=onboarding@resend.dev